<div class="app-page-title">
  <div class="page-title-wrapper">
      <div class="page-title-heading">
          <div>Users</div>
      </div>
      <div class="page-title-actions">
          <label class="text-danger">Count:10</label>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body">

              <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)" class="">
                  <div class="position-relative form-group">
                      <div class="row">
                      <div class="col-md-4">
                          <label>Name<span class="text-danger">*</span></label>
                      <input placeholder="name" type="text"formControlName="name"  class="form-control">
                      <em class="error text-danger small" *ngIf="formdata.controls.name.touched && formdata.controls.name.invalid">Please enter your firstname</em>
                      </div>
                      <div class="col-md-4">
                          <label>Username<span class="text-danger">*</span></label>
                      <input placeholder="username" type="text"formControlName="username"  class="form-control">
                      <em class="error text-danger small" *ngIf="formdata.controls.username.touched && formdata.controls.username.invalid">Please enter username</em>
                      </div>
                      <div class="col-md-4">
                          <label>Password<span class="text-danger">*</span></label>
                      <input placeholder="password" type="text"formControlName="password"  class="form-control">
                      <em class="error text-danger small" *ngIf="formdata.controls.password.touched && formdata.controls.password.invalid">Please enter password</em>
                      </div>
                  </div>
                  </div>

                  <input type="submit" [disabled]="formdata.invalid" value="Save" class="mt-1 btn btn-primary">
              </form>

          </div>
      </div>
  </div>

  <div class="col-lg-12 mt-2">
      <div class="card">
          <div class="card-body">
              <table class="table table-hover table-striped table-bordered">
                  <thead class="text-center">
                      <tr>
                          <th style="width: 150px;">Action</th>
                          <th style="width: 80px;">No</th>
                          <th>Name</th>
                          <th>Username</th>
                          <th>Password</th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let data of result; let i=index" class="text-center">
                          <td class="text-center">

                              <button (click)="edit(data.id)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-primary"><i class="pe-7s-tools btn-icon-wrapper"> </i></button>
                              <button (click)="delete(data.id)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>

                          </td>
                          <td class="text-right">{{i+1}}</td>
                          <td>{{data.name}}</td>
                          <td>{{data.username}}</td>
                          <td>{{data.password}}</td>

                      </tr>
                  </tbody>

              </table>


          </div>
      </div>
  </div>
</div>
